# Python cache and bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/

.env

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Test output
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
*.txt
AD_VS/Transformed
*.json
AD_VS
uploads
AD_VS_original
